.account_move_line_usability_class [data-name="account_id"] {
    min-width: 150px !important;
}
.account_move_line_usability_class [data-name="name"] {
    min-width: 150px !important;
}
.account_move_line_usability_class [data-name="partner_id"] {
    min-width: 150px !important;
}
.account_move_line_usability_class [data-name="debit"] {
    min-width: 90px !important;
}
.account_move_line_usability_class [data-name="credit"] {
    min-width: 90px !important;
}
