.account_move_line_usability_class [data-id="account_id"]  {min-width: 150px !important;}
.account_move_line_usability_class [data-id="name"]  {min-width: 150px !important;}
.account_move_line_usability_class [data-id="partner_id"]  {min-width: 150px !important;}