.account_move_line_usability_class [data-id="account_id"]  {width: 285px;}
.account_move_line_usability_class [data-id="name"]  {width: 285px;}
.account_move_line_usability_class [data-id="partner_id"]  {width: 285px;}
