table {font-size: xx-small !important;}
.table_small {
    th {
        font-size: xx-small !important;
        page-break-inside: avoid !important;
	}
    td {
        font-size: xx-small !important;
        page-break-inside: avoid !important;
    }
}
tr {
    page-break-inside: avoid !important;
}
.tax-codes td {
    border-bottom: 1px black solid !important;
}
td.text-right {
    border-top: 1px solid black !important;
}